.playlist-card{
    width: 20rem;
    border-radius: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 28rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.playlist-card:nth-child(2n -1){
    background: linear-gradient(225deg, #27DABA 9.33%, #01D10A 92.67%);
    }

.playlist-card:nth-child(3n -1){
    background: linear-gradient(225deg, #FA7474 9.33%, #F1BC01 92.67%);
    }

.playlist-card:nth-child(3n){
    background: linear-gradient(225deg, #FA7474 9.33%, #C001F1 92.67%);
}

.playlist-card__title{
    font-size: 2.4rem;
    font-weight: normal;
    z-index: 1;
}

.playlist-card__song-list{
    z-index: 0;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-size: 1.3rem;
}

.album-card{
    border-radius: 1.5rem;
    width: 20rem;
    min-height: 28rem;
    display: flex;
    flex-direction: column;
    position: relative;

}

.album-card::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 1.5rem;
    background: linear-gradient(180deg, rgba(255, 0, 77, 0) 60%, #BF0067 70%, #FF1A6B 100%);

    
}

.album-card__content{
    border-radius: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* z-index: 1; */
}

.album-card__song-list{
    display: none;
}

.album-card>img{
    border-radius: 1.5rem;
    width: 100%;
    z-index: -1;
}

.music-list-item__info__artist{
    padding-left: 3rem;

}

.album-card__title{
    font-weight: 400;
    font-size: 2.5rem;
}

