.music-list-item__progress-bar-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}
.music-list-item__progress-bar{
    width: 40vw;
/* flex-grow: 1; */
    display: flex;
    align-items: center;
    position: relative;
}

.progress-bar{
    border-radius: 0.2rem;
    height: 0.7rem;
}

.progress-bar-bg{
    background: grey;
    width: 100%;
}

.progress-bar-progress{
    background: var(--accent-color-1);
    position: absolute;
}
.title{
padding-left: 7rem;
}
.footer{
position: fixed;
z-index: 10;
width: 100%;
bottom: 0;
display: flex;
flex-direction: column;
flex-grow: 1;   
}

.footer--open{
    height: 100vh;
} 
.playing-song-footer{
    /* border-top: white 1px solid; */
    box-sizing: border-box;
    padding: 2rem 2rem !important;
    background: linear-gradient(var(--accent-color-1), var(--bg-color) 50%);
    display: flex;
}
.playing-song-footer:hover{
    transform: none;
}
.music-list-item{
    padding: 1rem 0;
    width: 100%;
    display: flex;
}

.music-list-item__info{
    width: 100%;
}
.music-list-item__info__title{
    font-size: 2rem;
}
.music-list-item__info__artist{
    font-size: 1.4rem;
}

/* buttons */
.music-list-item__buttons{
    display: flex;
    justify-content: flex-start;

}
.play-btn{
    color: var(--font-color);
    background: none;
    width: 5rem;
    transition: .3s;
    opacity: .6;
}

.play-btn:hover{
    /* transform: scale(1.1); */
    opacity: 1;
}
.play-next-btn img{
    width: 5rem !important;
}

.music-list-item__artist-wrapper{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.music-list-item__info__artist{
    opacity: .8;
}

/* footer song list */
.footer__list-wrapper{
    height: 0;
    background: var(--bg-color);
    overflow-y:hidden;
}
.footer__list-wrapper--active{
    height: 100%;
    transition: height 1s ease;
    flex-grow: 1;
}

.icon-btn{
    max-width: 50rem !important;
}