.song-select-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    width: 50vw;
}
.song-select{
    /* max-height: 50vh; */
    min-height: 20vh;
    /* min-width: 35vw; */
    max-width: 100%;
    /* overflow-y: scroll; */
}

.select-wrapper{
    max-width: 25vw;

}
.music-list-item{
    max-width: 25vw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}


.music-list-item__artist-wrapper{
    padding-left: 1rem;
}

.chosen-title{
    color: var(--accent-color-2)
}