.playlist__edit-buttons{
    position: absolute;
    transform: translate(45%, -25%);
    top: 0;
    right: 0;
}

.playlist__edit-buttons>*{
    background: var(--accent-color-2) !important;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex !important;
    align-items: center;
}